
.normal {
  /* margin-top: 31px; */
  width: 100%;
}
.content {
  padding: 20px;
  background-color: #ffffff;
}
.title {
  color: #57493F;
  font-size: 20px;
}
.maxWidth {
  width: 100%;
}
.price {
  margin-top: 4px;
}
.currentPrice {
  color: #FF4343;
  font-size: 26px;
}
.originalPrice {
  color: #594C42;
  font-size: 16px;
}
.additional {
  padding-top: 9px;
}
.flexItem {
  flex: 1;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}

.contentDetail {
  // margin-top: 10px;
}

.noneBorder {
  color: #ffffff;
  border: none;
  &::before {
    border: none !important;
  }
}

.tabDesc {
  padding: 10px;
  text-indent: 2em;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #fff;
  padding:20px;

  .variables {
    border-color: rgba(87, 73, 63, 0.6);
    width: 96%;
    tr {   
      td {
        padding: 10px;
        &:first-child {
          text-align: center;
          width: 33%;
          color: #57493F;
        }
        &:last-child {
          color: #898989;
        }
      }
    }
  }
}

.bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
