
.normal {
  /* margin-top: 31px; */
  width: 100%;
  background-color: #f9f9f9;
  position: fixed;
  height: 100%;
}
.header {
  padding-top: 60px;
  background-color: #fff;
}
.flex {
  width: 100%;
  font-size: 16px;
}
.content { 
  // margin: 10px;
  // margin-top: 22px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling:touch;
  &::-webkit-scrollbar {display:none}
}

.column {
  height: 200px;
  width: 92%;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  margin-top: 5px;
  box-shadow: 0 8px 11px 0 rgba(0,0,0,0.15);
  color: #756145;

  .titleInfo {
    padding-left: 10px;
    font-size: 16px;
    .title {
      font-size: 18px;
    }
  }
  .cardId {
    font-size: 22px;
  }
  .nowBack {
    color: #00388D;
  }
}

.addButton {
  color: #57493F;
  position: fixed !important;
  bottom: 0; 
  width: 100%;
  &:before {
    border: none !important;
  }
}
