
.normal {
  .listItem {
    font-size: 15px !important;
    color: #16153A;
    padding-left: 0 !important;
    :global(.am-list-line) :global(.am-list-extra) {
      flex-basis: 20%;
    }
    .title {
      font-size: 15px;
    }
    .subTitle {
      opacity: 0.5;
      font-family: PingFangSC-Regular;
      color: #16153A;
      padding-left: 5px;
    }
  }
}
.nextStep {
  background: #57493F;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}
